html,
body {
  margin: 0;
  padding: 0;
}

body {
  text-align: center;
  background: url(../images/paintsplash.jpg) center center fixed;
  background-size: cover;
}

.container {
  margin: 8px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  background-color: rgba(102, 127, 153, 0.7);
}

/* container for all elements */
#gameContainer {
  padding: 15px 100px;
  display: flex;
}

/* LEFT COLUMN */
#first-column {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: calc(100vh - 40px);
  box-sizing: border-box;
}

/* canvas */
#canvasContainer {
  margin: 8px;
  height: 85%;
}

#canvas {
  overflow: hidden;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  background: rgb(255, 255, 255);
  cursor: crosshair;
}

/* palette */
#taskbarContainer {
  display: flex;
  height: 15%;
}

#paletteContainer {
  display: flex;
  flex-grow: 18;
}

/* palette colours & weight */
.paletteColour {
  border-radius: 50%;
  width: 70px;
  height: 70px;
  margin: auto;
  margin-right: 5px;
  border: black solid 1px;
}

#paletteRed {
  background: red;
}

#paletteYellow {
  background: yellow;
}

#paletteGreen {
  background: green;
}

#paletteBlue {
  background: blue;
}

#palettePurple {
  background: purple;
}

#paletteBlack {
  background: black;
}

#paletteCustomContainer {
  position: relative;
  width: 70px;
  height: 70px;
  margin: auto;
  margin-right: 5px;
}

#paletteCustomPlaceholder,
#paletteCustom {
  position: absolute;
  padding: 0;
  left: 0;
  text-align: center;
}

#paletteCustomPlaceholder {
  background: url(images/colourwheel.png) no-repeat;
  background-size: cover;
  z-index: 1;
}

#weightContainer {
  flex-grow: 1;
}

#circleContainer {
  height: 25px;
}

#weightCircle {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background: black;
  margin: auto;
  margin-top: 10px;
}

.sliderContainer {
  width: 100%;
}

.slider {
  -webkit-appearance: none;
  appearance: none;
  width: 80%;
  height: 12px;
  margin-top: 15px;
  border-radius: 5px;
  background: lightgray;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: greenyellow;
  cursor: pointer;
}

.slider::-moz-slider-thumb {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: greenyellow;
  cursor: pointer;
}

/* palette buttons */
.taskbarInputContainer {
  margin: 8px;
  flex-basis: 80px;
  border-radius: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
}

.button {
  display: flex;
  width: 100%;
  height: 98%;
  border-radius: 10px;
  position: relative;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(0, 0, 0, 0.5);
  box-shadow: 0px 8px 5px -5px rgba(0, 0, 0, 0.7);
  -webkit-box-shadow: 0px 8px 5px -5px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0px 8px 5px -5px rgba(0, 0, 0, 0.7);
}

#eraser {
  background: rgba(255, 192, 203, 0.9);
}

#eraser.selected {
  box-shadow: 0 2px 4px 0 black;
  background: rgba(184, 131, 140, 0.808);
}

#clear {
  background: rgba(255, 231, 18, 0.8);
}

#clear:hover {
  color: white;
  background: linear-gradient(rgba(250, 128, 114, 0.7), rgba(255, 0, 0, 0.7));
  background: -webkit-linear-gradient(
    rgba(250, 128, 114, 0.7),
    rgba(255, 0, 0, 0.7)
  );
  background: -moz-linear-gradient(
    rgba(250, 128, 114, 0.7),
    rgba(255, 0, 0, 0.7)
  );
}

.button:active {
  top: 4px;
}

/******************/

/* RIGHT COLUMN */
#second-column {
  display: flex;
  flex-direction: column;
  width: 20%;
  height: calc(100vh - 40px);
  box-sizing: border-box;
}

/* target word */
#wordContainer {
  width: 100%;
  height: 10%;
}

.targetWord {
  display: none;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

#wordTitle {
  padding-top: 5px;
  padding-bottom: 2px;
  font-size: small;
}

#targetWordContainer {
  padding: 10px;
  background: rgba(238, 255, 0, 0.7);
}

#targetWord {
  margin: 0;
}

#targetWordCover {
  height: 100%;
  background: black;
  border-radius: 10px;
}

/* chat */
#chatContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 90%;
}

#playerList {
  flex-basis: 15%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 8px;
}

#chatHistory {
  flex-basis: 80%;
  text-align: left;
  overflow: scroll;
}

#chatInput {
  flex-basis: 5%;
}

.chatMessage {
  margin: 0;
}

/******************/

/* INITIAL PROMPT */
.grey-fade {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(128, 128, 128, 0.8);
  display: none;
  z-index: 900;
}

#signinContainer {
  display: flex;
  justify-content: center;
}

.signin {
  position: relative;
  margin-top: 200px;
  max-height: 150px;
  max-width: 450px;
  padding: 25px 5px;
  background-color: rgba(176, 237, 255, 0.9);
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 8px;
  padding: 10px;
}

form > h4 {
  margin-top: 0px;
}

.accountContainer {
  display: flex;
  width: 200px;
  flex-direction: column;
  align-items: center;
}

/******************/
